/* --- МАСТИ --- */

.card__suit_type_red {
    fill: var(--color-card-red);
}

.card__suit_type_black {
    fill: var(--color-card-black);
}

.card__suit_position_side {
    width: var(--size-side-suit);
}

.card__suit_position_middle {
    width: var(--size-middle-suit);
}