/* --- ДЕРЖАТЕЛЬ КАРТ --- */

.holder {
    position: relative;
    width: var(--width-card-main);
    height: var(--height-card-main);
    border-radius: var(--size-card-border-radius);
    background: var(--color-holder);
}

.holder::after {
    content: '';
    position: absolute;
    top: var(--size-holder-border);
    left: var(--size-holder-border);
    bottom: var(--size-holder-border);
    right: var(--size-holder-border);
    border-radius: var(--size-holder-border-radius);
    background-color: var(--color-field);
    opacity: var(--opacity-holder);
}