/* --- ОБЩИЕ СТИЛИ --- */

body {
    padding: var(--size-body-padding);
    box-shadow: var(--shadow-body);
    background-color: var(--color-body);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    user-select: none;
}