/* --- Тест --- */

body {
    box-shadow: inset var(--shadow-card-dragging);
    background-color: var(--color-body);
    overflow: hidden;
}

.App {
    height: 100%;
    padding: 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}