/* --- ДЕРЖАТЕЛИ КАРТ --- */

.field {
    height: 90vh;
    margin: 5vh 7.5%;
    padding: 1%;
    box-shadow: inset var(--shadow-card);
    background-color: var(--color-field);
    display: flex;
    justify-content: space-between;
}