/* --- ДЕРЖАТЕЛИ КАРТ --- */

.field {
    max-width: var(--width-field-max);
    width: var(--width-field);
    height: 90vh;
    padding: 1vw;
    box-shadow: inset var(--shadow-card);
    background-color: var(--color-field);
    display: flex;
    justify-content: space-between;
}